<nav class="filter" data-cy="Filter">
    <a 
        data-cy="FilterLinkAll" 
        routerLink="/todos/all" 
        routerLinkActive="selected"
        class="filter__link ">
         All 
    </a>

   <a 
        data-cy="FilterLinkActive" 
        routerLink="/todos/active"
        routerLinkActive="selected" 
        class="filter__link"> 
        Active 
    </a>
    <a 
        data-cy="FilterLinkCompleted" 
        routerLink="/todos/completed"
        routerLinkActive="selected" 
        class="filter__link"> 
        Completed 
    </a>
</nav>
