.message {
    border: 1px solid red;
    padding: 16px;
    margin: 16px 0;
    background-color: #ffe6e6;
    position: relative;

    &__title {
      font-weight: bold;
      margin-bottom: 8px;
    } 
    &__message {
      font-size: 14px;
    }

    &--hidden {
      display: none;
    }
}

.delete {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #900;
  cursor: pointer;
  float: right;
}