@use './todoapp' as todoapp;
@use './todo' as todo;
@use './filter' as filter;
@use './transition' as transition;

iframe {
  display: none;
}

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

.notification {
  transition-property: opacity, min-height;
  transition-duration: 1s;
  min-height: 36px;
}

.notification.hidden {
  min-height: 0;
  opacity: 0;
  pointer-events: none;
}

.header {
  padding: 10px;
  margin-bottom: 20px;
  background: #333333;
  display: flex;
  justify-content: center;
  gap: 20px;

  & a {
    color: #ffffff;
  }
}
