<div class="todoapp">
      <h1 class="todoapp__title"> Todos</h1>

      <div class="todoapp__content">
        <header class="todoapp__header">
          <button
            data-cy="ToggleAllButton"
            type="button"
            class="todoapp__toggle-all active">
          </button>

          <app-todo-form (save)="addTodo($event)"></app-todo-form>
        </header>

        <section class="todoapp__main" data-cy="TodoList">
          <app-todo
            *ngFor="let todo of visibleTodos$ | async; let i = index; trackBy:trackById"
            [todo]="todo"
            (delete)="deleteTodo(todo)"
            (rename)="renameTodo(todo, $event)"
            (toggle)="toggleTodo(todo)"
          ></app-todo>
        </section>

        <footer class="todoapp__footer" data-cy="Footer">
          <span class="todo-count" data-cy="todosCounter">
            {{ activeCount$ | async }} setter items left
          </span>

          <app-filter></app-filter>

          <button
            data-cy="ClearCompletedButton"
            type="button"
            class="todoapp__clear-completed"
            (click)="clearCompleted()"
          >
            Clear completed
          </button>
        </footer>
      </div>

      <app-message></app-message> 
    </div>
